
{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}
    <body style="background-image: url(https://bl6pap003files.storage.live.com/y4mwaO7bLCv6K5Ded42T79sJdCxAbXGPeg4Cp2EFyPKeJ53ln5BUg7c6GaQWrtUmCpaHIpyyUiP5ovB_UipWPE3DjiatoKhbL8SnExXZIaV58UTarVOoU7JhgREQ_BMmc7tQhcRLy78VOsmvzUTDrUrD5pcQXCxjDbvgUA6giB5k_bqd-ft7uX4f44Yye-GtW7l?width=1920&height=849&cropmode=none);"></body>    
    <div class="col-md-11">
        <div class="mb-3">
            <header class='mb-4'>
                <h2 class='h2 medium text-blue'>Gestión de las CCAA</h2>
            </header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card bg-skin" style="width: auto; height: 310px;">
                            <div class="card-body" style="background-color: #CE9898;">
                                <h5><img class="container" src="https://bl6pap003files.storage.live.com/y4mQFQduu1NmqFRRvjksxBOEsF24qsWLlKwveR9mbEL7i18Ffs9Uk9fp1K4Rr3Ny4MuEmaA5XNmj_BTh8xUK6gRmYEKhE8oMADoFTGk_9ZDvTz1PC8ntu03EZtGeaEw6J7H9D-aBAsBcXARcxDdSWYrwZ-XyIKVPLoQNK582lDqpOtx-oQiXqKoeUYR-1nO38Bk?width=243&height=256&cropmode=none" width="200" height="200" /></h5>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <p class="card-text"></p>
                                </div>
                                <div class="justify-content-center mx-0-5--custom mt-2" style="background-color: #610606;">
                                    <a href="" class="btn" style="color: white;">
                                        Nuevo Informe de Cierre
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card bg-skin" style="width: auto; height: 310px;">
                            <div class="card-body" style="background-color: #9EAF9E;">
                                <h5><img class="container" src="https://bl6pap003files.storage.live.com/y4mQFQduu1NmqFRRvjksxBOEsF24qsWLlKwveR9mbEL7i18Ffs9Uk9fp1K4Rr3Ny4MuEmaA5XNmj_BTh8xUK6gRmYEKhE8oMADoFTGk_9ZDvTz1PC8ntu03EZtGeaEw6J7H9D-aBAsBcXARcxDdSWYrwZ-XyIKVPLoQNK582lDqpOtx-oQiXqKoeUYR-1nO38Bk?width=243&height=256&cropmode=none" width="200" height="200"/></h5>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <p class="card-text"></p>
                                </div>
                                <div class="justify-content-center mx-0-5--custom mt-2" style="background-color: #075500;">
                                    <a href="" class="btn" style="color: white;">
                                        Informes Anteriores
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>                      
                    <div class="col-sm-4">
                        <div class="card bg-skin" style="width: auto; height: 310px;">
                            <div class="card-body" style="background-color: #AFAF9E;">
                                <h5><img class="container" src="https://bl6pap003files.storage.live.com/y4mKHbWPJ5WqI1h7TQsCY1jW0wXRnZljaounUAQXnVXZ8BpxchFGP_ZYqPnYKg_dRJUtaEF2J5VGsVSmCQIXoElX3lzaZsl0wnv3tW3d-n8Sb5PN8coUVSuUVJQ-PsKo0jSOE4rswy2J00zwIEiCPsZOaMUS2_fpaVWCHtiD_hy83x0kjjL7uxwMbOFWC5pUPox?width=256&height=154&cropmode=none" width="200" height="200"/></h5>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <p class="card-text"></p>
                                </div>
                                <div class="justify-content-center mx-0-5--custom mt-2" style="background-color: #6A6A00;">
                                    <a href="{% url 'new_formpag'%}" class="btn" style="color: white;">
                                        Nuevo Formulario de Pago
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>              
                    <div class="col-sm-4">
                        <div class="card bg-skin" style="width: auto; height: 310px; margin-top: 10%;">
                            <div class="card-body" style="background-color: #AF9EA4;">
                                <h5><img class="container" src="https://bl6pap003files.storage.live.com/y4m2QhckFgHsob5nccCmDiU3vLk1LD9CVpJddVlphPetgPHReIn9V8qiU-ehnHXTBkv6GFTGA5GjJNtQzMAU-JY9VcRQ99zBO3IfT9g-X5CHPjmEs30JrJXEl-fkoSpW8zI1h9nOasxc-dX6-Mi9a85wCorL0L44g83M0Tdk_dtDpdlFv6XCOBNHfPV6Bewh43B?width=256&height=154&cropmode=none" width="200" height="200"/></h5>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <p class="card-text"></p>
                                </div>
                                <div class="justify-content-center mx-0-5--custom mt-2" style="background-color: #86002F;">
                                    <a href="{% url 'ver_form_ant' %}" class="btn" style="color: white;">
                                        Formularios Anteriores
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>             
                </div>
            </div>            
        </div>
    </div>
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}


   
    <!--<div class="col-md-11">
        <div class="mb-3">
            <header class='mb-4'>
                <h2 class='h2 medium text-blue'>Gestión de las CCAA</h2>
            </header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card bg-skin" style="width: auto;">
                            <div class="card-body">
                                <h5><img class="container" src="https://bl6pap003files.storage.live.com/y4mgpkRZFJ54O_4ZPdC8afY8b0oWcNSoL3cgeQ4fFmZWkBG19iiVtWYivywcocGpf14SEYbykl9wNlBtEfLG9yhzRAWIu3I5oy0iCOpEX3QTZ1UwyFopvxp2F6qQlUiOvx5avR__sTXf8-wfEgpBoi_TSFFj0AaU1xjlChJ0mTTk2RIcoOpAbI_mJgoCSzB2_VY?width=2440&height=2440&cropmode=none" width="200" height="200"/></h5>
                                <h5 class="card-title">Crear formuario de pago</h5>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>             
                </div>
            </div>
            &nbsp;            
        </div>
    </div>-->

