{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-4'>
        <h2 class='h2 medium text-blue'>Nueva Orden</h2>
    </header>
    <div class="col-md-11">
        <div class="mb-3">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <form method="post" action="{% url 'new_form' %}">
                    {% csrf_token %}
                    <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">                      
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Carrera</label>
                            <Select class="form-control" name="carrera" id="carrera" required>
                                <!-- Carreras Providencia-->
                                <option>Seleccione una opción</option>
                                <!-- Carreras Diurno-->
                                <option value= "Administración Pública">Administración Pública</option>
                                <option value= "Auditoría e Ingeniería en Control de Gestión">Auditoría e Ingeniería en Control de Gestión</option>
                                <option value= "Derecho">Derecho</option>
                                <option value= "Enfermería">Enfermería</option>
                                <option value= "Fonoaudiología">Fonoaudiología</option>
                                <option value= "Ingeniería Civil Industrial">Ingeniería Civil Industrial</option>
                                <option value= "Ingeniería Civil Informática">Ingeniería Civil Informática</option>
                                <option value= "Ingeniería Civil Química">Ingeniería Civil Química</option>
                                <option value= "Ingeniería Comercial">Ingeniería Comercial</option>
                                <option value= "Kinesiología">Kinesiología</option>
                                <option value= "Medicina">Medicina</option>
                                <option value= "Nutrición y Dietética">Nutrición y Dietética</option>
                                <option value= "Obstetricia y Puericultura">Obstetricia y Puericultura</option>
                                <option value= "Odontología">Odontología</option>
                                <option value= "Periodismo">Periodismo</option>
                                <option value= "Psicología">Psicología</option>
                                <option value= "Publicidad y Comunicación Integral">Publicidad y Comunicación Integral</option>
                                <option value= "Química y Farmacia">Química y Farmacia</option>
                                <option value= "Terapia Ocupacional">Terapia Ocupacional</option>
                                <!-- Carreras Vespertino-->
                                <option value= "Administración Pública_V">Kinesiología (VESPERTINO)</option>
                                <option value= "Auditoría e Ingeniería en Control de Gestión_V">Auditoría e Ingeniería en Control de Gestión (VESPERTINO)</option>
                                <option value= "Derecho V">Derecho (VESPERTINO)</option>
                                <option value= "Ingeniería Comercial V">Ingeniería Comercial (VESPERTINO)</option>
                                <option value= "Psicología V">Psicología (VESPERTINO)</option>                                                     
                            </Select>                        
                        </div>
                       <!-- <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Carrera</label>
                            <Select class="form-control" name="carrera" id="carrera" required>
                                Carreras El Llano Subercaseaux
                                <option>Seleccione una opción</option>
                                    -Carreras Diurno-
                                <option value= "Administración Pública">Administración Pública</option>
                                <option value= "Auditoría e Ingeniería en Control de Gestión">Auditoría e Ingeniería en Control de Gestión</option>
                                <option value= "Derecho">Derecho</option>
                                <option value= "Enfermería">Enfermería</option>
                                <option value= "Fonoaudiología">Fonoaudiología</option>
                                <option value= "Ingeniería Comercial">Ingeniería Comercial</option>
                                <option value= "Ingeniería en Construcción">Ingeniería en Construcción</option>
                                <option value= "Kinesiología">Kinesiología</option>
                                <option value= "Pedagogía en Educación Básica">Pedagogía en Educación Básica</option>
                                <option value= "Pedagogía en Educación Física">Pedagogía en Educación Física</option>
                                <option value= "Pedagogía en Educación Parvularia">Pedagogía en Educación Parvularia</option>
                                <option value= "Pedagogía en Inglés">Pedagogía en Inglés</option>
                                <option value= "Nutrición y Dietética">Nutrición y Dietética</option>
                                <option value= "Psicología">Psicología</option>
                                <option value= "Terapia Ocupacional">Terapia Ocupacional</option>
                                <option value= "Trabajo Social ">Trabajo Social </option>
                                    -Carreras Vespertino-
                                <option value= "Derecho V">Derecho (VESPERTINO)</option>
                                <option value= "Ingeniería Comercial V">Ingeniería Comercial (VESPERTINO)</option>
                                <option value= "Psicología V">Psicología (VESPERTINO)</option>                                                     
                            </Select>                        
                        </div> -->

                        <!--<div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Carrera</label>
                            <Select class="form-control" name="carrera" id="carrera" required>
                                 Carreras Talca
                                <option>Seleccione una opción</option>
                                 Carreras Diurno
                                <option value= "Administración Pública">Administración Pública</option>
                                <option value= "Auditoría e Ingeniería en Control de Gestión">Auditoría e Ingeniería en Control de Gestión</option>
                                <option value= "Derecho">Derecho</option>
                                <option value= "Enfermería">Enfermería</option>
                                <option value= "Fonoaudiología">Fonoaudiología</option>
                                <option value= "Ingeniería Civil Industrial">Ingeniería Civil Industrial</option>
                                <option value= "Ingeniería Civil Informática">Ingeniería Civil Informática</option>
                                <option value= "Ingeniería Comercial">Ingeniería Comercial</option>
                                <option value= "Ingeniería en Construcción">Ingeniería en Construcción</option>
                                <option value= "Kinesiología">Kinesiología</option>
                                <option value="Licenciatura en Artes Visuales">Licenciatura en Artes Visuales</option>
                                <option value="Medicina">Medicina</option>
                                <option value="Obstetricia y Puericultura">Obstetricia y Puericultura</option>
                                <option value="Pedagogía en Educación Básica">Pedagogía en Educación Básica</option>
                                <option value="Pedagogía en Educación Diferencial">Pedagogía en Educación Diferencial</option>
                                <option value="Pedagogía en Educación Física">Pedagogía en Educación Física</option>
                                <option value="Pedagogía en Educación Parvularia">Pedagogía en Educación Parvularia</option>
                                <option value="Pedagogía en Historia, Geografía y Cs. Sociales">Pedagogía en Historia, Geografía y Cs. Sociales</option>
                                <option value="Pedagogía en Inglés">Pedagogía en Inglés</option>
                                <option value="Pedagogía en Lengua Castellana y Comunicación">Pedagogía en Lengua Castellana y Comunicación</option>
                                <option value="Periodismo">Periodismo</option>
                                <option value="Psicología">Psicología</option>
                                <option value="Química y Farmacia">Química y Farmacia</option>
                                <option value="Terapia Ocupacional">Terapia Ocupacional</option>
                                <option value="Trabajo Social">Trabajo Social</option>
                                 Carreras Vespertino
                                <option value="Administración Pública V">Administración Pública (VESPERTINO)</option>
                                <option value= "Derecho V">Derecho (VESPERTINO)</option>
                                <option value= "Ingeniería Comercial V">Ingeniería Comercial (VESPERTINO)</option>
                                <option value= "Psicología V">Psicología (VESPERTINO)</option>                                                     
                            </Select>                        
                        </div>-->

                        <!--<div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Carrera</label>
                            <Select class="form-control" name="carrera" id="carrera" required>
                                Carreras Temuco
                                <option>Seleccione una opción</option>
                                Carreras Diurno
                                <option value= "Arquitectura">Arquitectura</option>
                                <option value= "Auditoría e Ingeniería en Control de Gestión">Auditoría e Ingeniería en Control de Gestión</option>
                                <option value= "Derecho">Derecho</option>
                                <option value= "Enfermería">Enfermería</option>
                                <option value= "Fonoaudiología">Fonoaudiología</option>
                                <option value= "Ingeniería Civil Industrial">Ingeniería Civil Industrial</option>
                                <option value= "Ingeniería Civil Informática">Ingeniería Civil Informática</option>
                                <option value= "Ingeniería Comercial">Ingeniería Comercial</option>
                                <option value= "Ingeniería en Administración">Ingeniería en Administración</option>
                                <option value= "Ingeniería en Construcción">Ingeniería en Construcción</option>
                                <option value= "Kinesiología">Kinesiología</option>
                                <option value= "Nutrición y Dietética"> Nutrición y Dietética</option>
                                <option value= "Odontología Odontología">Odontología Odontología</option>
                                <option value= "Pedagogía en Educación Básica">Pedagogía en Educación Básica</option>
                                <option value= "Pedagogía en Educación Diferencial">Pedagogía en Educación Diferencial</option>
                                <option value= "Pedagogía en Educación Física">Pedagogía en Educación Física</option>
                                <option value= "Pedagogía en Educación Parvularia">Pedagogía en Educación Parvularia</option>
                                <option value= "Pedagogía en Inglés">Pedagogía en Inglés</option>
                                <option value= "Periodismo">Periodismo</option>
                                <option value= "Psicología">Psicología</option>
                                <option value= "Química y Farmacia">Química y Farmacia</option>
                                <option value= "Terapia Ocupacional">Terapia Ocupacional</option>
                                <option value= "Trabajo Social">Trabajo Social </option>                                
                                Carreras Vespertino
                                <option value="Administración Pública V">Administración Pública (VESPERTINO)</option>
                                <option value= "Derecho V">Derecho (VESPERTINO)</option>
                                <option value= "Ingeniería Comercial V">Ingeniería Comercial (VESPERTINO)</option>
                                <option value="Ingeniería en Administración V">Administración Pública (VESPERTINO)</option>
                                <option value= "Psicología V">Psicología (VESPERTINO)</option>                                                     
                            </Select>                        
                        </div>-->
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Sede</label>
                            <Select class="form-control" name="sede" id="sede" required>
                                <option>Seleccione una opción</option>
                                <option value= "Providencia">Providencia</option>
                                <option value= "El llano">El Llano Subercaseaux</option>
                                <option value= "Talca">Talca</option>
                                <option value= "Temuco">Temuco</option>                                                  
                            </Select>                        
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Nivel</label>
                            <Select class="form-control" name="nivel" id="nivel" required>
                                <option>Seleccione una opción</option>
                                <option value= "1">Nivel 1</option>
                                <option value= "2">Nivel 2</option>
                                <option value= "3">Nivel 3</option>
                                <option value= "4">Nivel 4</option>    
                                <option value= "5">Nivel 5</option>
                                <option value= "6">Nivel 6</option>
                                <option value= "7">Nivel 7</option>
                                <option value= "8">Nivel 8</option>  
                                <option value= "9">Nivel 9</option>
                                <option value= "10">Nivel 10</option>
                                <option value= "11">Nivel 11</option>                                             
                            </Select>                        
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Periodo</label>
                            <Select class="form-control" name="periodo" id="periodo" required>
                                <option>Seleccione una opción</option>
                                <option value= "Primavera">Primavera</option>
                                <option value= "Otoño">Otoño</option>                                           
                            </Select>                        
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Año</label>
                            <input type="month" class="form-control" name="año" id="año" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Reunión 1</label>
                            <input type="date" class="form-control" name="reunion_1" id="reunion_1" required>
                            <input type="href" class="form-control" name="reunion_1_link" id="reunion_1_link" placeholder="Link de la reunión 1" required>
                            <div class="feedback body--small normal"></div>

                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Reunión 2</label>
                            <input type="date" class="form-control" name="reunion_2" id="reunion_2" required>
                            <input type="href" class="form-control" name="reunion_2_link" id="reunion_2_link" placeholder="Link de la reunión 2" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Reunión 3</label>
                            <input type="date" class="form-control" name="reunion_3" id="reunion_3"  required>
                            <input type="href" class="form-control" name="reunion_3_link" id="reunion_3_link" placeholder="Link de la reunión 3" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <button type="submit" class="button">Crear</button>
                                </div>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <a href="{% url 'ccaa_main' %}" class="button">Regresa</a>
                                </div>  
                            </div>                                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}