{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'proccaa/style3.css' %}">    
    {% endblock extra_css %}
    <!DOCTYPE html>
    <html lang="en" >
    <head>
      <meta charset="UTF-8">
      <title>CodePen - HTML5 Contact Form</title>
      <link rel="stylesheet" href="./style.css">

    </head>
    <body>
    <!-- partial:index.partial.html -->
    <div class="container">  
      <form id="contact" action="" method="post">
        <h3>Innforme de Cierre</h3>
        <h4>Innovacion en la docencia</h4>
        <a>tu nombre</a>
        <fieldset>
          
          <input placeholder="Your name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <a>tu Email</a>
        <fieldset>
          
          <input placeholder="Your Email Address" type="email" tabindex="2" required>
        </fieldset>
        <a>tu numero</a>
        <fieldset>
          
          <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
        </fieldset>
        <a>tu sitio web</a>
        <fieldset>
          
          <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
        </fieldset>
        <a>mensaje</a>
        <fieldset>
          
          <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>
    
      
    </div>
    <!-- partial -->
      
    </body>
    </html>
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}